body {
  background-color: rgb(245, 245, 245);
}
.box1 {
  padding-top: 40px;
}
li {
  margin: 3px;
}
.ff {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 40px 0px 40px;
}
.abs {
  height: 40px;
}
.footer {
  font-size: 12px;
}
